#dash-container {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    margin-bottom: 100px;
 
}
#dashboard{
    height: 100vh;
  
  }
  #dash-list-header-text {
    color: #ffffff;
    font-family: "Rock Salt", cursive;
    font-size: 24px;
  
    padding-bottom: 20px;
  }



  @media screen and (min-width: 978px) {

    #dash-respo2{
     
        display:none;
    }
    }


  @media screen and (max-width: 978px) {

    #dash-respo2{
  margin-top: -100px;
  max-height: 100px;
       
    }
    }