*{
	margin: 0;
	padding: 0;
	
}
#transfert {
  height: 100vh;

  text-align: center;
}

a {
  color: #ffffff;
}

#transfert-list-header-text {
  color: #ffffff;
    font-family: 'Indie Flower', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-size: 24px;
  
    padding-top: 20px;
    padding-bottom: 20px;
 
}

#form-container {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  
}


@media screen and (max-width: 978px) {

    #create {
    
         text-align: center;
      }
      
#form-list-header-text {
  color: #ffffff;
  font-size: 24px;
  
 
 
}

#form-container {
   

    display: block;
    flex-direction: row;
    align-items: center;
    justify-content:center;

  }


}